<?xml version="1.0"?>
<launch>
    <!--include other launch files-->
    <include file="$(find ias0060_scitos_auclair_bryan_schneider)/launch/scitos.launch">
        <arg name="gui" value="false"/> <!--change here-->
        <arg name="headless" value="false"/>
    </include>

    <include file="$(find laser_line_extraction)/launch/example.launch">
    </include>

    <!-- Load yaml file containing map metadata to ros parameter server-->
    <rosparam command="load"
        file="$(find ias0060_scitos_auclair_bryan_schneider)/data/config/map.yaml"
        ns="/map"/>

    <!-- Load yaml file containing sensor frame to ros parameter server-->
    <rosparam command="load"
        file="$(find ias0060_scitos_auclair_bryan_schneider)/data/config/robot_parameters.yaml"
        ns="/robot_parameters"/>

   <!-- Load to ros parameter servers the noise model on the control inputs-->
    <rosparam command="load"
        file="$(find ias0060_scitos_auclair_bryan_schneider)/data/config/noise_model.yaml"/>

   <!-- Load to ros parameter servers the noise model on the sensors-->
    <rosparam command="load"
        file="$(find ias0060_scitos_auclair_bryan_schneider)/data/config/sensor_noise_model.yaml"/>

   <!-- Load to ros parameter servers the map features-->
    <rosparam command="load"
        file="$(find ias0060_scitos_auclair_bryan_schneider)/data/config/map_features.yaml"
        ns="/map_features"/>

    <!-- Load yaml file containing sensor pose in robot framework to ros parameter server-->
    <rosparam command="load"
        file="$(find ias0060_scitos_auclair_bryan_schneider)/data/config/robot_parameters.yaml"
        ns="/robot_parameters"/>

    <!--launch Localization node-->
    <node name="LocalizationNode" pkg="ias0060_scitos_auclair_bryan_schneider" type="Localization.py"
	output="screen" respawn="true"/>

    <!--launch line extraction node-->
	<node name="LinePublisherNode" pkg="laser_line_extraction" type="line_extraction_node"
	output="screen" respawn="true"/>

    <!--launch path planning node-->
<!-- 	<node name="PathPlanningNode" pkg="ias0060_scitos_auclair_bryan_schneider" type="PathPlanning.py" -->
<!-- 	output="screen" respawn="true"/> -->

    <!--launch controller node-->
<!-- 	<node name="ControllerNode" pkg="ias0060_scitos_auclair_bryan_schneider" type="controller.py" -->
<!-- 	output="screen" respawn="true"/> -->

    <!--launch rviz node-->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find ias0060_scitos_auclair_bryan_schneider)/data/config/rviz/scitos_localization.rviz" /> -->

    <!--launch map server node-->
    <node type="map_server" name="map_server" pkg="map_server" args="$(find ias0060_scitos_auclair_bryan_schneider)/data/maps/map.yaml" /> -->

    <!--launch tf node-->
    <node pkg="tf2_ros" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 map odom" />

</launch>
