<?xml version="1.0"?>
<launch>
    <!--include other launch files-->
    <include file="$(find ias0060_scitos_auclair_bryan_schneider)/launch/scitos.launch">
   </include>

    <!-- Load parameters from yaml files containing waypoints to parameter server-->
    <rosparam command="load"
        file="$(find ias0060_scitos_auclair_bryan_schneider)/data/config/mission.yaml"/>

    <!-- Load pid controller gains from yaml file containing and to parameter server-->
    <rosparam command="load"
        file="$(find ias0060_scitos_auclair_bryan_schneider)/data/config/pid_gains.yaml"
	ns="/controller_diffdrive"/>

    <!--launch controller node-->
    <node name="MotionControllerNode" pkg="ias0060_scitos_auclair_bryan_schneider" type="controller.py"
	output="screen" respawn="true"/>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find ias0060_scitos_auclair_bryan_schneider)/data/config/rviz/scitos.rviz" />

</launch>
